@use '../Components/colors' as color;
@use '../Components/animations' as animations;
@use '../Components/vars' as var;

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.main-menu {
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    margin: 0;
  }
}

.game-over {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    color: color.$white;
    transition: color .5s;
    overflow: visible;
  }

  a:hover,
  a:focus,
  a:focus-within {
    svg {
      color: color.$red;
      animation-name: colorPhase;
      animation-duration: 5s;
      animation-direction: forwards;
      animation-iteration-count: infinite;
    }
  }
}
