.main-menu {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
}

.main-menu__item a, .main-menu__item button {
  background-color: black;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  border: 3px solid white;
  padding: 12px 18px;
  transition: .33s;
  box-shadow: 3px 8px 15px rgba(0,0,0,.26);
  margin-bottom: 20px;
  cursor: pointer;
}

.main-menu__item a:hover, .main-menu__item a:focus,
.main-menu__item button:hover, .main-menu__item button:focus {
  background-color: white;
  color: black;
  border-color: black;
}