.main-menu {
  text-align: center;
  font-weight: 500;
}

.main-menu__item {
  a, button {
    background-color: darkslategray;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: beige;
    border: 3px solid beige;
    padding: 12px 18px;
    transition: .33s;
    box-shadow: 3px 8px 15px rgba(0,0,0,.26);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover, &:focus {
      background-color: beige;
      color: darkslategray;
      border-color: darkslategray;
    }
  }
}

.game-over {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
