.current-piece {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .game-piece {
    margin-inline: 0;
  }
}

.player-turn {
  font-size: 1rem;
}

.turn-phase {
  font-size: 0.8rem;
  font-weight: 400;
}

.current-piece__characteristics {
  font-size: 0.8rem;
  font-style: italic;
  list-style: none;
  column-count: 2;
}
