.help-menu {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 35px;
  border-radius: 10px;
}

.display-pieces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  gap: 30px;
  margin: 60px auto;

  .piece-container {
    flex: 1 1 20%
  }
}
