$medium-screen-size: 640px;
$large-screen-size: 1025px;
$xlarge-screen-size: 1260px;
$xxlarge-screen-size: 1440px;

@mixin sm {
  @media screen and (max-width: $medium-screen-size) {
    @content;
  }
}

@mixin med {
  @media screen and (min-width: $medium-screen-size) {
    @content;
  }
}

@mixin lar {
  @media screen and (min-width: $large-screen-size) {
    @content;
  }
}

@mixin xlar {
  @media screen and (min-width: $xlarge-screen-size) {
    @content;
  }
}

@mixin xxlar {
  @media screen and (min-width: $xxlarge-screen-size) {
    @content;
  }
}
