.external-board {
  width: 90%;
  max-width: 900px;
  position: relative;
  margin: auto;
}

.game-data {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  border-radius: 10px;
  
  * {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: rgba(53, 32, 6, 0.478);
    margin: 10px auto;
  }

  h1, h2 {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: rgba(53, 32, 6, 0.478);
    margin: 10px auto;
  }
}

#game-board {
  position: relative;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  padding: 200px;
  border: 20px solid rgb(135, 110, 77);
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 30px;
  background-image: url("../images/woodgrain.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
  }
}
