.help-menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 1000px;
  margin: auto;
  padding: 25px 35px;
  text-align: center;
}

.display-pieces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  gap: 30px;
  margin: auto;

  .piece-container {
    flex: 1 1 20%
  }
}
