@use "../mixins" as mixins;
@use "../colors" as color;

.external-board {
  width: Min(100%, 700px);
  position: relative;
  margin: auto;
}

.game-screen {
  position: relative;
}

.available-pieces__max {
  position: absolute;
  right: 100%;
  top: 0;
  transform: translateY(100%);
  writing-mode: sideways-lr;
  color: color.$dark-blue;
  background-color: color.$medium-blue;
  font-size: 1rem;
  padding: 1rem .5rem;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.game-data {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  border-radius: 10px;

  * {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: rgba(53, 32, 6, 0.478);
    margin: 10px auto;
  }

  h1,
  h2 {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: rgba(53, 32, 6, 0.478);
    margin: 10px auto;
  }
}

#game-board {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, Min(12vw, 100px));
  gap: 30px;
  background-color: color.$white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-image: url("../../images/woodgrain.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
