body {
  background-color: rgb(89, 137, 149);
  color: beige;
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 20px;
}

ul {
  list-style: square;
  margin: 0 0 20px;
  padding: 0;
}
