body {
  background-color: white;
  color: black;
  display: block;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.external-board {
  width: 90%;
  max-width: 900px;
  position: relative;
  margin: auto;
}

#game-board {
  position: relative;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  padding: 200px;
  border: 20px solid rgb(135, 110, 77);
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 30px;
  background-image: url("./images/woodgrain.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-board__circle {
  outline: 8px solid darkred;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 15;
  cursor: pointer;
  transition: background-color .33s;
}

.game-board__circle:hover, .game-board__circle:focus {
  background-color: rgba(0,0,0,.15);
}

.game-board__circle .game-piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.available-pieces__container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgb(116, 32, 32);
}

.available-pieces-toggle {
  background-color: rgb(236, 208, 172);
  color: darkslategray;
  font-weight: 500;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 55;
  font-size: 25px;
  padding: 8px 12px;
  border: 2px solid darkslategray;
  box-shadow: 3px 5px 15px rgba(0,0,0,.16);
  cursor: pointer;
  transition: .33s;
}

.available-pieces-toggle:hover, .available-pieces-toggle:focus {
  background-color: darkslategray;
  color: rgb(236, 208, 172);
  border-color: rgb(236, 208, 172);
}

.game-piece {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: beige;
  background-image: url("./images/woodgrain.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  transition: box-shadow .33s;
}

.available-pieces__container .game-piece:hover, 
.available-pieces__container .game-piece:focus {
  cursor: pointer;
  box-shadow: 0 0 12px rgba(255,255,255,.5);
}

.game-piece::before, .game-piece::after,
#game-board::before, #game-board::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}

#game-board::before, #game-board::after {
  width: 100%;
  height: 100%;
}

.game-piece::before, #game-board::before {
  box-shadow: -3px 0 10px rgba(0,0,0,.5);
}

.game-piece::after, #game-board::after {
  box-shadow: 3px 0 10px rgba(255,255,255,.25);
}

.game-piece.dark {
  background-color: darkslategray;
}

.game-piece.square {
  border-radius: 10px;
}

.game-piece.tall {
  width: 95px;
  height: 95px;
}

.game-piece.hollow {
  background-image: url("./images/woodgrain.svg"), radial-gradient(rgba(0,0,0,.25) 33%, transparent 34%)
}

.current-piece {
  text-align: center;
  width: 100%;
  max-width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 10px 20px;
  font-family: sans-serif;
  color: rgb(228, 211, 188);
}

