@use "../mixins";
@use "../colors" as color;

.game-piece {
  width: Min(10vw, 75px);
  height: Min(10vw, 75px);
  border-radius: 50%;
  background-color: color.$red;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  transition: box-shadow 0.33s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
  }

  &::before {
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5);
  }

  &::after {
    box-shadow: 3px 0 10px rgba(255, 255, 255, 0.25);
  }

  &.dark {
    background-color: color.$orange;
  }

  &.square {
    border-radius: 10px;
  }

  &.tall {
    width: Min(13vw, 95px);
    height: Min(13vw, 95px);
  }

  &.hollow {
    background-image:
      radial-gradient(rgba(0, 0, 0, 0.25) 33%, transparent 34%);
  }
}
